$primary-color-dark: #E64A19;
$primary-color-light: #FFCCBC;
$primary-color: #FF5722;
$color-white: #FFFFFF;
$accent-color: #FF9800;
$color-black: #212121;
$color-dark-gray: #757575;
$color-light-gray: #BDBDBD; 



