.btn-primary{ 
    border-radius: 1.5rem;
    border: none;
    margin-left: 1rem;
    padding: 0rem 1.5rem;
    background-color: $primary-color-dark;
    color: $color-white;
    font-family: 'Baloo Tammudu 2', cursive;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: $primary-color;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .40);
        transform: translateY(-2px);
       }
      
    &:active {
        box-shadow: 0 1rem 1rem rgba($color-black, 0.25);
        transform: translateY(0);
       }
}