*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 2rem; }

html {
  font-size: 62.5%; }

/* 
  FONT 400,500,600,700
  */
body {
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: 400;
  line-height: 1.7;
  color: #FFCCBC; }

.header__title {
  font-size: 7rem;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: lowercase; }

.heading-primary {
  color: #FFFFFF;
  text-transform: lowercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 400; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-bottom: 8rem !important; }

.u-margin-top-huge {
  margin-bottom: 10rem !important; }

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(230, 74, 25, 0.7), rgba(255, 204, 188, 0.7)), url(./img/home-image.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navbar {
  padding-top: .5rem; }
  .navbar__btn {
    border-radius: 1.5rem;
    border: none;
    padding: 0rem 1.5rem;
    margin: 1rem;
    background-color: #E64A19;
    color: #FFFFFF;
    font-family: 'Baloo Tammudu 2', cursive;
    text-decoration: none; }
  .navbar__btn:hover {
    background-color: #FF5722;
    color: #FFFFFF;
    box-shadow: 0 1rem 2rem rgba(33, 33, 33, 0.4);
    transform: translateY(-2px); }
  .navbar__btn:active {
    box-shadow: 0 1rem 1rem rgba(33, 33, 33, 0.25);
    transform: translateY(0); }

.section-features {
  background-color: #eee; }

.form-textarea {
  width: 50%; }

.submit-btn {
  border-radius: 1.5rem;
  border: none;
  margin-left: 1rem;
  padding: 0rem 1.5rem;
  background-color: #E64A19;
  color: #FFFFFF;
  font-family: 'Baloo Tammudu 2', cursive;
  outline: none; }

.messages-div {
  color: #757575;
  font-size: 1.25rem; }

.message-list {
  list-style: none;
  color: #212121;
  background-image: url(./img/so-white.png);
  height: 50rem;
  width: auto;
  border: 2px solid #757575; }

.form-shape {
  width: 15rem;
  height: 15rem;
  float: right;
  position: relative; }

.submit-message-form {
  background-image: linear-gradient(to right bottom, rgba(230, 74, 25, 0.7), rgba(255, 204, 188, 0.7));
  width: auto;
  padding: 6rem;
  color: #757575; }

.form-group:not(:last-child) {
  margin-bottom: 1rem; }

.form-input {
  /* font-size: 1.5rem; */
  font-family: inherit;
  color: inherit;
  /* padding: .5rem 1rem; */
  border-radius: 2px;
  /* background-color: rgba(, .5); */
  border: none;
  border-bottom: 3px solid transparent;
  width: 95%;
  display: block; }

.form-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(33, 33, 33, 0.25);
  border-bottom: 3px solid #FF9800; }

.form-input:focus:invalid {
  border-bottom: 3px solid #FF5722; }

.form-label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: .7rem;
  display: block;
  transition: all, .3s; }

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.fan-art-card {
  background-color: #757575; }
  .fan-art-card__img {
    width: 75vw; }
